project/StepFunction.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Lambda Serialize Input",
  "States": {
    "Lambda Serialize Input": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:967897925194:function:Serial-Input:$LATEST"
      },
      "Next": "Classification"
    },
    "Classification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:967897925194:function:classification:$LATEST"
      },
      "Next": "Confidence Inference"
    },
    "Confidence Inference": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:967897925194:function:confidence_filtering:$LATEST"
      },
      "End": true
    }
  }
}